@model Wize.Models.AdresseViewModel
@{
    ViewData["Title"] = "AdresseVueModel";
}


<h1 style = "text-align : center">Adresse</h1>

        @using (Html.BeginForm())
         {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })

            <div class="form-group">
                <p>pays</p>
                @Html.EditorFor(model => model.pays)
            </div>
            <div class="form-row">
                <p>latitude</p>
                <div class="form-group col-xl-6 col-lg-12">
                    @Html.EditorFor(model => model.geolocalisation.latitude)
                </div>
                <p>longitude</p>
                <div class="form-group col-xl-6 col-lg-12">
                    @Html.EditorFor(model => model.geolocalisation.longitude)
                </div>
            </div>
            <div class="form-group">
                <p>region</p> 
                @Html.EditorFor(model => model.region)
            </div>
            <div class="form-group">
                <p>ville</p>
                @Html.EditorFor(model => model.ville)
            </div>
            <p>departement</p>
            <div class="form-group">
                @Html.EditorFor(model => model.departement)
            </div>
            <p>code postal</p>
            <div class="form-group">
                @Html.EditorFor(model => model.codepostal)
            </div>
            <p>code INSEE canton</p>
            <div class="form-group">
                @Html.EditorFor(model => model.codeINSEEcanton)
            </div>
            <p>code INSEE commune</p>
            <div class="form-group">
                @Html.EditorFor(model => model.codeINSEEcommune)
            </div>
            <p>ligne</p>
            <div class="form-group">
                @Html.EditorFor(model => model.ligne)
            </div>

            <button type="submit" class="btn btn-primary btn-block">Ajouter</button> 
         }








